body{
    height: 100%;
    width: 100%;
}
.button{
    padding: 20px;
    margin:0 3px;
    border: 2px solid black;
    border-radius: 18px;
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.main{
    /* background-color: red; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    margin: 3px 0;
}
.row input{
    margin: 0;
    font-size: 14.5px;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 6px;

}